*{
    font-family: 'Itim', cursive;
}
.carousel-item{

    height: 1080px;
    
}

.carousel-image-1{
    background-image: url("/csmju.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    
}

.carousel-image-2{
    background-image: url("/five-king.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.carousel-image-3{
    background-image: url("/jotaro-gift.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.carousel-image-4{
    background-image: url("/jo.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

#course{
    min-height: 360px;
    position: relative;
    background-image: url(/Aquamarine.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: rgba(#fff);
    background-attachment: fixed;
}

.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(2, 6, 24, 0.295);
    width: 100%;
    height: 100%;
}

